<html>



<script>
 var chosenHouse = document.getElementById("house").value;
 console.log(chosenHouse)
    </script>


<div>
    <form>
    <label for="house">Select House:</label>
    <select id="house">
      <option value="Gryffindor">Gryffindor</option>
      <option value="Ravenclaw">Ravenclaw</option>
      <option value="Slytherin">Slytherin</option>
      <option value="Hufflepuff">Hufflepuff</option>
    </select>
</form>

</div>



<table>
    <tr>
      <th>Name</th>
      <th>House</th>
      <th>Image</th>
    </tr>

    <tr *ngFor="let character of gryffindorCharacters">
        <td>{{character.name}}</td>
        <td>{{character.house}}</td>
        <td><img src={{character.image}}></td>
      </tr>

      <tr *ngFor="let character of ravenclawCharacters">
        <td>{{character.name}}</td>
        <td>{{character.house}}</td>
        <td><img src={{character.image}}></td>
      </tr>


      <tr *ngFor="let character of slytherinCharacters">
        <td>{{character.name}}</td>
        <td>{{character.house}}</td>
        <td><img src={{character.image}}></td>
      </tr>

      <tr *ngFor="let character of hufflepuffCharacters">
        <td>{{character.name}}</td>
        <td>{{character.house}}</td>
        <td><img src={{character.image}}></td>
      </tr>

  </table>

  </html>
